body {
  margin: 0;
  padding: 2rem;
  max-width: 100vw;
  background-color: hsl(30, 38%, 92%);
}

.card {
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  border-radius: 1rem;
  max-width: 400px;
  margin: 0 auto;
  background-color: white;
}

.card-text {
  height: 60%;
  padding: 2rem;
}

button {
  background-color: hsl(158, 36%, 37%);
  color: white;
  padding: 1rem;
  border: none;
  border-radius: 1rem;
  width: 100%;
}
