/* .additional-stories {
  gap: 1rem;
} */

.stories {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  margin-bottom: 1rem;
}

.first-half {
  width: 40%;
}

.story-content {
  min-height: 100%;
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  line-height: 1.8;
}

.story-img {
  max-height: 100%;
  max-width: 100%;
}
