h3,
h2 {
  color: white;
}

.timeP {
  color: hsl(235, 45%, 61%);
}

.timer-container {
  /* background-color: aqua; */
  padding-top: 2rem;
  border-radius: 2rem 2rem 3rem 3rem;
  margin-top: 2rem;
}

.timer-info {
  border-radius: 2rem;
  background-color: hsl(235, 46%, 20%);
  padding: 2rem;
}

.title,
.time {
  display: flex;
  justify-content: space-between;
}
