* {
  box-sizing: border-box;
  margin: 0px;
  font-family: "Space Grotesk", sans-serif;
}

.card-display {
  width: 100vw;
  height: 35vh;
  background-image: url("./images/bg-main-mobile.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.card-display > * {
  color: white;
}

.card-front {
  position: absolute;
  top: 6rem;
  left: 10vw;
  width: 250px;
  height: 150px;
  background-image: url("./images/bg-card-front.png");
  background-repeat: no-repeat;
  background-size: contain;

  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  z-index: 1;
}

.name-date-display {
  display: flex;
  justify-content: space-between;
  padding-top: 1rem;
}

.card-back {
  position: absolute;
  top: 20px;
  right: 10vw;
  width: 250px;
  height: 150px;
  background-image: url("./images/bg-card-back.png");
  background-repeat: no-repeat;
  background-size: contain;
  padding: 2rem;
}

.cvc-display {
  position: absolute;
  top: 58px;
  right: 30px;
}

form {
  margin: 4rem 2rem;
  display: flex;
  flex-direction: column;
}

label {
  display: block;
  margin: 0.5rem 0rem;
  color: hsl(278, 68%, 11%);
}

.mon-yr-inputs {
  display: flex;
}
.date-input-container {
  max-width: 50%;
}

.date-input {
  max-width: 50%;
  margin-right: 0.5rem;
}

.cvc-input {
  display: flex;
  flex-direction: column;
}
.date-cvc {
  display: flex;
  max-width: 100%;
}

button {
  background-color: hsl(278, 68%, 11%);
  color: white;
  padding: 0.5rem;
  margin-top: 1rem;
  border-radius: 0.5rem;
}
