* {
  box-sizing: border-box;
  margin: 0px;
}

.card-display {
  width: 100vw;
  height: 40vh;
  background-image: url("./images/bg-main-mobile.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.card-display > * {
  color: white;
}

.card-front {
  width: 250px;
  height: 150px;
  background-image: url("./images/bg-card-front.png");
  background-repeat: no-repeat;
  background-size: contain;

  padding: 1rem;
  display: flex;
  flex-direction: column;
}

.name-date-display {
  display: flex;
  justify-content: space-between;
}

.card-back {
  width: 250px;
  height: 150px;
  background-image: url("./images/bg-card-back.png");
  background-repeat: no-repeat;
  background-size: contain;
}

.cvc-display {
  padding-top: 3rem;
}
