.comment-container {
  background-color: white;
  margin-bottom: 1rem;
  border-radius: 10px;
  padding: 1rem;
}

.comment-info {
  display: flex;
  align-items: center;
}
.comment-info > * {
  padding-right: 1rem;
}

.content {
  padding: 1rem 0;
}

.reply-container {
  border-left: solid 3px hsl(223, 19%, 93%);
}

.comment-stats {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.modify,
.delete,
.edit {
  display: flex;
  align-items: center;
}
.edit {
  padding-left: 1rem;
}

.reply {
  color: hsl(238, 40%, 52%);
  font-weight: 700;
}

.delete {
  color: hsl(358, 79%, 66%);
}
